@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* changa-regular - latin_latin-ext */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Changa';
        font-style: normal;
        font-weight: 400;
        src: url('./assets/fonts/changa/changa-v27-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* changa-500 - latin_latin-ext */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Changa';
        font-style: normal;
        font-weight: 500;
        src: url('./assets/fonts/changa/changa-v27-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* changa-700 - latin_latin-ext */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Changa';
        font-style: normal;
        font-weight: 700;
        src: url('./assets/fonts/changa/changa-v27-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer components {
    .bg-image {
        background: url("https://res.cloudinary.com/kuldas/image/upload/v1713185489/dev/helldivers/helldivers-wallpaper_i89xe9.jpg"), rgba(0,0,0, 0.8);
        background-size: cover;
        background-blend-mode: overlay;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}
:root {
    scroll-behavior: smooth;
}

.stats-4 {
	@apply grid-flow-row
}

@media screen(sm){
	.stats-4 {
		grid-template-columns: repeat(4, 1fr);
	}
}
	
.stat {
    @apply px-3 py-2
}
.stat {
	grid-template-columns: repeat(1, auto 1fr);
	grid-template-rows: auto auto 1fr;
}
.stat-figure {
	@apply col-start-1 justify-self-start row-span-2
}
.stat-title {
	@apply col-start-2 justify-self-start
}
.stat-value {
	@apply col-start-2 justify-self-start
}
.stat-desc {
    @apply whitespace-normal col-span-2
}
.scroll-lock {
    overflow: hidden;
}